<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="finnishhyphenator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="manifest" href="manifest.json">

    <title>Sanat</title>
    <style>
        body,
        html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: ui-monospace;
        }
        .main-text {
            font-size: 2em;
            text-align: center;
            letter-spacing: 2px;
        }
        .sound-part:nth-child(odd) {
            background-color: #cdcdcd;
        }
        .sound-part:nth-child(even) {
            background-color: #f3f3f3;
        }
    </style>
</head>

<body>
<div id="vue-app">
</div>
<script type="template/html" id="template">
    <div id="app-wrapper">
        <div id="app">
            <h1 class="main-text">
                <span v-for="word in soundSplitted">
                    <span v-for="(sound, index) in word" class="sound-part">
                        <span
                            @click="selectSound(sound)"
                            :style="{backgroundColor: playingSound == sound ? '#85ff85' : ''}"
                        >{{sound}}</span>
                    </span>
                    <span> </span>
                </span>
                <h1 v-if="playingSound">
                    {{ playingSound }}
                </h1>
                <h2 v-if="playingSound">
                    <button @click="playSound">Play</button>
                </h2>
                <h2>
                    <button @click="nextWord">Next</button> 
                </h2>
            </h1>
        </div>
    </div>
</script>

<script>
    var app = new Vue({
        el: '#vue-app',
        template: "#template",
        data: () => ({
            playingSound: null,
            text: "",
            wordList: (
                "hiihtää luistella ratsastaa uida laastari silmälasit oranssi keltainen ratikka moottoripyörä kirkko meri peruna " +
                "saippua saippuakupla " + 
                "jogurtti täytekakku sipuli " +
                "hamsteri lammas kana kukko " + 
                "marsu undulaatti tipu ankka hanhi " +
                "akvaario lehmä hevonen kalkkuna varis harakka " +
                "poni sika vuohi talitiainen pöllö " +
                "sorsa papukaija muurahainen ilves jänis susi hämähäkki heinäsirkka hyttynen kettu karhu hirvi " +
                "sudenkorento ampiainen mato poro leijona tiikeri " +
                "sammakko käärme lisko leopardi kirahvi sarvikuono virtahepo elefantti apina villasukat " +
                "tossut hellehattu lippalakki sukat paita housut kengät sateenvarjo pipo lapaset tietokone hylly matto verhot kännykkä kamera ovi ikkuna seinä pöytä sohva nojatuoli lattia katto lamppu kaappi lipasto peitto tyyny pallo nukke kynä paperi teroitin päärynä omena hampurilainen makkara lasi muki voi juusto haarukka veitsi lusikka ketsuppi sinappi"
            ),
            wordIndex: 0,
        }),

        mounted() {
            // Randomize wordlist
            this.wordList = this.wordList.split(' ').sort(() => Math.random() - 0.5);
            this.text = this.wordList[this.wordIndex];
        },

        computed: {
            hyphenatedText() {
                const ret = this.hyphenate(this.text);
                return ret.toUpperCase();
            },
            soundSplitted() {
                const words = this.text.split(' ');
                const ret = words.map(word => {
                    const sounds = this.splitToSounds(word);
                    return sounds.map(sound => sound.toUpperCase());
                });
                return ret
            }
        },

        methods: {
            nextWord() {
                this.wordIndex = (this.wordIndex + 1) % this.wordList.length;
                this.text = this.wordList[this.wordIndex];
                this.selectSound(null);
            },
            selectSound(sound) {
                this.playingSound = sound;
            },
            playSound() {
                const sound = this.playingSound;
                // Play mp3 sounds/{sound}.mp3
                const audio = new Audio(`sounds/${sound}.mp3`);
                audio.play();
                this.playingSound = sound;
            },
            splitToSounds(passedWordpart) {
                // Given e.g. "käärme" return ["kää", "r", "me"]
                // This uses recursion like this:
                // "käärme" -> find it starts with kää. (consonant + vowel pair)
                // "rme" -> find it starts with r with consonant following
                // "me" -> find it starts with m with vowel following
                const vowels = "aeiouyåäö";
                const consonants = "bcdfghjklmnpqrstvwxz";
                // Remove all non-alphabets
                const syllable = passedWordpart.toLowerCase().split('').filter(c => vowels.includes(c) || consonants.includes(c)).join('');
                if (syllable.length < 2) {
                    return [syllable];
                }
                const returnUpTo = (index) => {
                    if (index == syllable.length) {
                        return [syllable];
                    }
                    return [syllable.substring(0, index), ...this.splitToSounds(syllable.substring(index))];
                }
                if (consonants.includes(syllable[0])) {
                    // Consonant starting
                    if (vowels.includes(syllable[1])) {
                        // Consonant + vowel
                        // Check if next is same vowel
                        if (syllable.length > 2 && syllable[1] == syllable[2]) {
                            // Found the sound
                            return returnUpTo(3);
                        }
                        // Otherwise return consonant + vowel
                        return returnUpTo(2);
                    }
                    // Consonant + consonant
                    // Usually letter per sound. TODO: check this
                    return returnUpTo(1);
                }

                // Vowel starting
                // Usually letter per sound. TODO: check this
                return returnUpTo(1);
            },
            hyphenate(text) {
                const hyphernator = new window.FinnishHyphenator();
                return hyphernator.hyphenateText(text);
            },
            say(m) {
                const speak = (text) => {
                    let myText = (text || '').toLowerCase()
                    myText = myText.replace(/nn$/g, 'n');
                    myText = myText.replace(/mm$/g, 'm');
                    const utter = new SpeechSynthesisUtterance();
                    utter.lang = 'fi-FI';
                    utter.text = myText;
                    utter.rate = 0.5;
                    utter.pitch = 0.9;
                    speechSynthesis.cancel();
                    speechSynthesis.speak(utter);
                }

                if ((m || '').trim().length == 0) {
                    return;
                }
                speak(m)
            },
            
        },
    });
</script>

</body>
</html>